<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Welcome</title>
</head>
<body>
    <p th:text = "'Welcome ' + ${user.username} + '!'"></p>
    <a th:href="@{/}">
        Select your spa services here
    </a>

    <div>
        <h2>List of All Users</h2>
        <ul>
            <li th:each="user : ${listOfUsers}">
                <a th:href="@{user/userDetails(userId=${user.id})}"><p th:text="${user.username}"></p></a>
            </li>
        </ul>
    </div>

</body>
</html>